div.table table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}

div.table table th {
	border: 1px solid black;
	padding: 5px;
	background: #a9a9a9;
	cursor: pointer;	
}

div.table table td {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}

img.table-action {
	width: 12px;
	height: 12px;
}
